<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biz haqimizda</title>
</head>
<body>

    <h1>ABOUT SAHIFA</h1>
    {% extends 'base.html' %}
    
    {% block content %}
        <p>«Biz Ukrainaga Challenger-2 uchun minglab snaryadlarni jo‘natdik. Gap zirhni teshib o‘tuvchi uranli snaryadlar haqida ham ketmoqda», dedi u.</p> 
        <p>Xippi Ukrainaga yetkazilgan snaryadlardan foydalanilgani haqida xavfsizlik nuqtai nazaridan xabar bermasligini qo‘shimcha qildi.</p>
    {% endblock content %}

</body>
</html>