<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>

    <h1>KANTAKT SAHIFASI</h1>
    {% extends 'base.html' %}
    
    {% block content %}
        <p>Challenger-2 - Britaniya armiyasining asosiy jangovar tanki, 1994 yildan 2009 yilgacha ishlab chiqarilgan. Kalibri 120 mm, o‘q-dori komplekti 52 dona. Britaniya harbiy sanoati ushbu modeldagi 400 dan ortiq tankni ishlab chiqargan.</p>
    {% endblock content %}
    
</body>
</html>