<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bosh sahifa</title>
</head>
<body>
    
    <h1>BOSH SAHIFA</h1>
    {% extends 'base.html' %}
    
    {% block content %}
        <p>Buyuk Britaniya Ukrainaga Challenger-2 tanklari uchun bir necha ming snaryadni topshirdi va ularning ba’zilarida boyitilmagan uran bor. Bu haqda Buyuk Britaniya mudofaa vaziri o‘rinbosari Jyeyms Xippi xabar berdi.</p>
    {% endblock content %}
 
</body>
</html>